@import "../../scss/palette";
@import "../../scss/fonts";

.navbar {
  background-color: $color-orange;
  width: 100%;
  height: 70px;
  color: $color-alice-blue;
  padding: 2rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    &__link {
      color: $color-alice-blue;
      text-decoration: none;
      font-family: $font-open-sans;
      background-color: $color-orange;
      padding: 0.5em 0.8em;
      border-radius: 5px;
      &--active {
        background-color: $color-orange-dark;
      }
    }
  }
}

.logo-title {
  margin-left: 0.5rem;
  color: $color-alice-blue;
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo-icon {
  width: 30px;
  height: auto;
}
