@import "../../scss/fonts";
@import "../../scss/palette";

.pokemon-list {
  padding: 0 2rem;
  font-family: $font-open-sans;
  &__title {
    margin-bottom: 2.5rem;
    color: $color-grey-regular;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
    padding: 0;
  }

  @media screen and (min-width: 500px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  height: auto;
}
