/*MEDIA QUERyS SIZES*/

.container {
  @media screen and (max-width: 500px) {
    padding: 0 1rem;
  }

  @media screen and (min-width: 500px) {
    padding: 0 4rem;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 8rem;
  }
}

.section {
  @media screen and (max-width: 500px) {
    padding: 1rem 1rem;
  }

  @media screen and (min-width: 500px) {
    padding: 2.5rem 2.5rem;
  }

  @media screen and (min-width: 1200px) {
    padding: 4rem 5rem;
  }
}
