$color-grey-dark: #181919;
$color-grey-regular: #464646;
$color-grey-thin: #dee5eb;
$color-alice-blue: #f0f8ff;
$color-pink: #e198f7;
$color-orange: #ee4540;
$color-orange-accent: #c72c41;
$color-orange-dark: #801336;
